<div class='container px-5 px-sm-0'>
  <h2 class="mt-4">
    <span>予約一覧</span>
  </h2>
  <div class='row'>
    
    <div class='col-md-8 mt-4'>
      <table class="table text-center">
        <thead>
          <tr>
            <th>予約日</th>
            <th>予約時間</th>
            <th>予約者</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @reserves.each do |f| %>
          <tr>
            <td><%= f.day %></td>
            <td><%= f.time %></td>
            <td><%= f.customer_id %></td>
            <td><%#= reserve.status_i18n %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @reserves %>
    </div>
  </div>
</div>