<div class="container">
  <div>
    <h2>
      <p><ご案内></p>
      <p>各卓球教室をご利用いただくには会員登録が必要です。</p>
    </h2>
    
    <table>
      <tbody>
        <tr>
          <th>会員登録（１年間）</th>
          <td>5,000円（税込）</td>
        </tr>
      </tbody>
    </table>
    <p>※ボール代、施設利用代（冷暖房費）を含みます。</p>
    
    <h2>個人レッスン・グループレッスン</h2>
    <table>
      <tbody>
        <tr>
          <th>1時間</th>
          <th>3,000円（税込）</th>
        </tr>
      </tbody>
    </table>
    <p>※1人で受講した場合は、3,000円、複数で受講した場合は、人数割となります。</p>
    
  </div>

</div>