<div class="container">
  <div class="row">
    <div class='col-md-10'>
      <h4><ご案内></h4>
      
      <div class="mb-5">
        <h3 class="my-4">各卓球教室をご利用いただくには会員登録が必要です。</h3>
        <table class="table col-md-5 table-borderbottom">
          <tbody>
            <tr>
              <th class="table-primary">会員登録（１年間）</th>
              <td>5,000円（税込）</td>
            </tr>
          </tbody>
        </table>
        <p>※ボール代、施設利用代（冷暖房費）を含みます。</p>
      </div>
      
      <div class="border-top">
        <h3 class="my-4">個人レッスン・グループレッスン</h3>
        <table class="table col-md-4 table-borderbottom">
          <tbody>
            <tr>
              <th class="table-primary">1時間</th>
              <td>3,000円（税込）</td>
            </tr>
          </tbody>
        </table>
        <p>※1人で受講した場合は、3,000円、複数で受講した場合は、人数割となります。</p>
      </div>
    
    </div>
  </div>
</div>
  