<div class="container">
  <div class="row">
    <div class='col-md-10'>
      <p>
        ようこそ、<strong>TTRsite</strong>へ！<br>
        このサイトは、卓球場予約サイトになります。<br>
        TTRsiteでは、卓球を気軽に楽しむことはもちろん、もっと上手になりたい方や、<br>
        健康のために身体を動かしたい方などにおすすめです。<br>
        完全予約制のため、周りを気にせず、打ち込むことが出来ます！
      </p>
      <p>
        ●営業時間：9:00～22:00<br>
        ●台貸し【利用料金：1人／1時間　500円】<br>
        ●卓球教室（無料体験・見学も可）<br>
        ●卓球用品の販売<br>
        ●場所貸し（卓球以外のスポーツや教室など）
      </p>
      <%= image_tag asset_path("top_01.png"), :size => '1000x500' %>
    </div>
  </div>
</div>
