<div class="container">
  <div class="row">

    <div class='col-md-9 offset-md-1'>

      <div class="card">
              <strong><h5>ようこそ、卓球予約サイトへ！<br>
              このサイトは、卓球場予約サイトになります。<br>
              会員ではない方も、予約が出来ます。<br>
              会員になると、次回以降の予約項目が簡単となり、<br>
              コーチング予約が可能となります。</h5></strong>
      </div>

        
    </div>
  </div>
</div>
